.contenedor-superior-rp {
  background-color: rgb(252, 249, 249);
  height: 60px;
}

.contenedor-logo-rp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
}

.img-logo-rp {
  width: 100px;
  filter: drop-shadow(0 0 2px rgb(0, 0, 0)) drop-shadow(0 0 2px rgb(0, 0, 0));
}
